# Ignore virtual environments
venv/
env/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

data.csv


images/
data/
2025-02__Studies/
PET/
thesis/

results/
pred/
trained_model/
training_results/
training_resultsv0/
test/
trash/
optuna/
checkpoints/
pred_training2/
pred_training3/
pred_training4/
pred_training5/
Run4/
train10/

